.Card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  gap: 8px;


  width: 310px;
  height: 81px;


}

.CardName {
  margin: 0;
  padding: 0;

  font-family: 'Gilroy', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; 
  /* identical to box height, or 24px */
  color: #333333;
}

.CardInput {
  /* 4 467 313 ₽ */
  display: inline-block;
    margin: 0;
      padding: 0;
  /* width: 279px; */
  height: 49px;

  /* H1 54 */
  font-family: 'Nekst-Black', "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  /* identical to box height, or 49px */

  color: #575757;


}









@media screen and (max-width: 767px) {
  .Card {
    width: 167px;
    height: 42px;
  }
  .CardName {
    font-size: 14px;
    line-height: 136%;
    color: #333333;
  }

  .CardInput {
    font-size: 22px;
    line-height: 20px;
    color: #333333;
    height: 20px;
  }
}



/*  Media Queries */

/* 320...767 px */
@media screen and (max-width: 767px) {

  .Card {
      gap: 2px;
  }
  .CardName,
  .CardInput {
    color: #333333;
  }

}

/* 768...1023 px */
@media screen and (min-width: 768px) {

  .CardName,
  .CardInput {
    color: #333333;
  }
}

/* 1024...1439 px */
@media screen and (min-width: 1024px) {

  .CardName,
  .CardInput {
    color: #333333;
  }
}

/* 1400 ...infinity */
@media screen and (min-width: 1440px) {

  .CardName,
  .CardInput {
    color: #575757;
  }
}