.form{
  display: flex;
  gap: 32px;
  flex-wrap: wrap;

}

.CardName {
   text-align: left;

  font-family: 'Gilroy',"Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */


  /* Серый */

  color: #575757;
}

.CardInput {
  /* Shapes / Rounding S */
  
  height: 68px;
  width: 427px;
  padding: 16px 24px;
 
  border-radius: 16px;
  border: none;
  background: #F3F3F4;
  border-radius: 16px;


    /* 3 300 000 */     
      /* H2 30 */
      font-family: 'Nekst-Black',"Arial", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 36px;
      color: #575757;
}

.CardInput:disabled {
    border: none;
    background: #F3F3F4;
}



.CardNameCost{
  position: relative;
}
.CardNameCost:after {
     content: '₽';
      position: absolute;
      z-index: 1;
      top: 70px;
      right: 24px;
      font-family: 'Nekst-Black', "Arial", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 120%;
      color: #575757;
 }

















.CardInputInitial_fee{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 7px;
}


.CardInputPersent {
   
  align-self:center;
    /* Auto layout */
  
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    padding: 15px 17px;
   
    width: 69px;
    height: 54px;
    
  
    background: #EBEBEC;
    border-radius: 16px;

      /* position: absolute;
      right: 7px;
      top: 7px;
      bottom: 7px; */
       




        border-radius: 16px;
          border: none;
         
        
          font-family: 'Nekst-Black', "Arial", sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
           line-height: 120%;
          color: #575757;
}

 .CardInputInitial_fee::after {
    content: '%';
    position: absolute;
    z-index: 1;
    top:38px;
    right: 55px;
      font-family: 'Nekst-Black', "Arial", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 120%;
        color: #575757;

  
 }









 .CardNameTerm {
   position: relative;
 }

 .CardNameTerm:after {
   content: 'мес.';
   position: absolute;
   z-index: 1;
   top: 70px;
   right: 24px;
   font-family: 'Nekst-Black', "Arial", sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 30px;
   line-height: 120%;
   color: #575757;

  }