.formInputs {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  flex-direction: row;
}



/* блок с расчетными значениями и кнопкой */

.AppInfoCardsButton {
  display: grid;
  grid-template-areas: "sum"
    "payment"
    "button";
  row-gap: 29px;
}

.AppInfoCard:first-child {
  grid-area: "sum";
}

.AppInfoCard:last-child {
  grid-area: "payment";
}

.AppButton {
  grid-area: "button";
}



 


/*  Media Queries */

/* 320...767 px */
@media screen and (max-width: 767px) {
  .form {
    gap: 25px;
  }

  .AppInfoCardsButton {
    grid-template-areas: "sum  "
      "payment"
      "button";
  }

}

/* 768...1023 px */
@media screen and (min-width: 768px) {

  .AppInfoCardsButton {
    grid-template-areas: "sum payment "
      "button button";
    row-gap: 44px;
  }
}

/* 1024...1439 px */
@media screen and (min-width: 1024px) {

  .AppInfoCardsButton {
    grid-template-areas: "sum payment "
      "button button";
    row-gap: 44px;
  }
}

/* 1400 ...infinity */
@media screen and (min-width: 1440px) {

  .AppInfoCardsButton {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}