.formInputsGroup {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  flex-direction: row;

}

.CardLabel {
  position: relative;
  height: 122px;
}

.CardName {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  font-family: 'Gilroy', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */


  /* Серый */

  color: #575757;
}

.CardInput {
  /* Shapes / Rounding S */

  height: 68px;
  width: 427px;
  padding: 16px 24px;
  box-sizing: border-box;

  border-radius: 16px;
  border: none;
  background: #F3F3F4;
  border-radius: 16px;


  /* 3 300 000 */
  /* H2 30 */
  font-family: 'Nekst-Black', "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
}


.CardInput:focus {
  border: #F3F3F4 2px solid;
  background: white
}




.CardRange {
  position: absolute;

  -webkit-appearance: none;
  width: 93%;

  height: 2px;
  background-color: #E1E1E1;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer;



  /* ??? */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.CardInputInitial_fee .CardRange {
  bottom: 0;
}


.CardRange:hover {
  opacity: 1;
}


.CardRange::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #FF9514;
}




.CardRange::-moz-range-track {
  width: 93%;
  bottom: 0;
  height: 2px;
  background-color: #E1E1E1;
}

.CardRange::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #FF9514;
  border: none;
}







.error {
  margin-top: 10px;
  width: 280px;

}










.CardNameCost {
  position: relative;
}

.CardNameCost:after {
  content: '₽';
  position: absolute;
  z-index: 1;
  top: 58px;
  right: 24px;

  font-family: 'Nekst-Black', "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 120%;
  color: #575757;
}

















.CardInputInitial_fee {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 7px;
  box-sizing: border-box;



  background: rgb(243, 243, 244, 0.4);
  color: rgb(87, 87, 87, 0.4);


}


.CardInputPercent {

  align-self: center;

  padding: 15px 17px;

  width: 69px;
  height: 54px;
  box-sizing: border-box;

  background: #EBEBEC;
  border-radius: 16px;


  border: none;


  font-family: 'Nekst-Black', "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  color: #575757;


}

.CardInputInitial_fee:after {
  content: '%';
  position: absolute;
  z-index: 1;
  top: 22px;
  right: 20px;
  font-family: 'Nekst-Black', "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  color: #575757;


}









.CardNameTerm {
  position: relative;
}

.CardNameTerm:after {
  content: 'мес.';
  position: absolute;
  z-index: 1;
  top: 58px;
  right: 24px;
  font-family: 'Nekst-Black', "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 120%;
  color: #575757;
}













.AppInfoCardsButton {
  display: grid;
  grid-template-areas: "sum "
    "payment"
    "button ";
  row-gap: 29px;
}

.AppInfoCard:first-child {
  grid-area: "sum";
}

.AppInfoCard:last-child {
  grid-area: "payment";
}

.AppButton {
  grid-area: "button";
}
























/*  Media Queries */

/* 320...767 px */
@media screen and (max-width: 767px) {
  .form {
    gap: 25px;
  }

  .CardInput,
  .error {
    width: 280px;
  }

  .CardInput,
  .CardInputPercent,
  .CardNameTerm:after,
  .CardInputInitial_fee:after,
  .CardNameCost:after {
    font-size: 22px;
    line-height: 20px;
    color: #333E48;
  }

  .CardInputInitial_fee {
    background: rgb(243, 243, 244, 0.4);
    color: rgb(87, 87, 87, 0.4);
  }

  .CardNameTerm:after,
  .CardNameCost:after {
    top: 50px
  }

  .CardInputInitial_fee:after {
    top: 24px;
  }

  .CardName {
    font-size: 14px;
    line-height: 136%;
    margin-bottom: 8px;
  }

  .CardRange {
    bottom: 25px;
    left: 13px;
    width: 253px;
  }

  .AppInfoCardsButton {
    grid-template-areas: "sum  "
      "payment"
      "button";
  }

}

/* 768...1023 px */
@media screen and (min-width: 768px) {

  .CardInput,
  .error {
    width: 696px;
  }

  .CardRange {
    bottom: 8px;
    left: 13px;
    width: 667px;
  }

  .AppInfoCardsButton {
    grid-template-areas: "sum payment "
      "button button";
    row-gap: 44px;
  }
}

/* 1024...1439 px */
@media screen and (min-width: 1024px) {

  .CardInput,
  .error {
    width: 928px;
  }

  .CardRange {
    bottom: 8px;
    left: 13px;
    width: 900px;
  }

  .AppInfoCardsButton {
    grid-template-areas: "sum payment "
      "button button";
    row-gap: 44px;
  }
}

/* 1400 ...infinity */
@media screen and (min-width: 1440px) {

  .CardInput,
  .error {
    width: 427px;
  }

  .CardRange {
    bottom: 8px;
    left: 13px;
    width: 400px;
  }

  .AppInfoCardsButton {

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}